@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --fonte-primaria: 'Poppins', sans-serif;
}

.section-home{
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    width: 50%;
    height: 90%;

}

.section-home h1{
    margin: 0;
    font-family: var(--fonte-primaria);
    color: aliceblue
}
.section-home p{
    font-family: var(--fonte-primaria);
    color: aliceblue;
    width: 60%;
}
.section-home img {
    border-radius: 10px;
    width: 30%;
}
.section-home a{
    font-family: var(--fonte-primaria);
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
}
.section-home a:hover{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}