@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --fonte-primaria: 'Poppins', sans-serif;
}

.section-sobre {
  margin-top: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  border-radius: 20px;
  width: 50%;
  height: 90%;
  gap: 20px;
}
.section-sobre h1{
    margin: 0;
    font-family: var(--fonte-primaria);
    color: aliceblue;
}
.section-sobre h2{
    margin: 0;
    font-family: var(--fonte-primaria);
    color: aliceblue;
}
.section-sobre p {
    margin: 0;
    width: 70%;
    font-family: var(--fonte-primaria);
    color: aliceblue;
}
.section-sobre .lista{
    margin: 0;
    width: 15%;
    font-size: 20px;
    font-family: var(--fonte-primaria);
    list-style: none;
}
.lista-ul{
    list-style:none;
}
.lista .react{
    color:rgb(73, 213, 238);
}
.lista .html{
    color: rgb(255, 123, 0);
}
.lista .css{
    color: rgb(0, 132, 255);
}
.lista .javascript{
    color: rgb(255, 230, 0)
}